<section class="flexslider" data-section="welcome">
    <ul class="slides">
      <li style="background-image: url(img/hero_bg_1.jpg)" class="overlay" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="probootstrap-slider-text text-center probootstrap-animate probootstrap-heading">
                <h1 class="primary-heading">Welcome</h1>
                <h3 class="secondary-heading">Display Chef</h3>
  
              </div>
            </div>
          </div>
        </div>
      </li>
  
  
    </ul>

  </section>
 
<div class="container">
    <div class="row">
      <div class="col-md-5 text-center probootstrap-animate">
        <div class="probootstrap-heading dark">
          <h1 class="primary-heading">{{chef.fname}} {{chef.lname}}</h1>
          <!-- <h3 class="secondary-heading">Our Store</h3> -->
          <span class="seperator">* * *</span>
        </div>
        <p>email : {{chef.email}}</p>
        <p>phone : <a href="#" >{{chef.phone}}</a></p>
      </div>
      <div class="col-md-6 col-md-push-1 probootstrap-animate">
        <p><img src="" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
      </div>
    </div>
    
  </div>