<nav class="navbar navbar-default navbar-fixed-top probootstrap-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html" title="uiCookies:FineOak">FineOak</a>
      </div>

      <div id="navbar-collapse" class="navbar-collapse collapse">
        <!-- <ul class="nav navbar-nav navbar-right" *ngIf='chef'>
          <li class="active"><a routerLink="" data-nav-section="welcome">Welcome</a></li>
          <li><a routerLink="dashboard-admin" data-nav-section="specialties">Dashboard Admin</a></li>
          <li><a routerLink="dashboard-chef" data-nav-section="menu">Dashboard Chef</a></li>
          <li><a routerLink="add-admin" data-nav-section="reservation">Add Admin</a></li>
          <li><a routerLink="add-chef" data-nav-section="events">Add Chef</a></li>
          <li><a routerLink="add-plat" data-nav-section="contact">Add Plat</a></li>
          <li>
            <div class="" *ngIf="connected">
              <button class="btn btn-success" (click)='logout()'>logout</button>
          
            </div>
          </li>
          <li>
            <div style="margin-top: 40px;" class="mt-5" *ngIf="!connected">
              <button class="btn btn-primary" routerLink= "signup" >signup</button>
              <button routerLink= "login" class="btn btn-secondary">login</button>
            </div>
          </li>
          
        </ul> -->
        <ul class="nav navbar-nav navbar-right" *ngIf='chef'>
          <li class="active"><a routerLink="" data-nav-section="welcome">Welcome</a></li>
         
          <li><a routerLink="dashboard-chef" data-nav-section="menu">Dashboard Chef</a></li>
         
          <li><a routerLink="add-chef" data-nav-section="events">Add Chef</a></li>
          <li><a routerLink="add-plat" data-nav-section="contact">Add Plat</a></li>
          <li>
            <div class="" *ngIf="connected">
              <button class="btn btn-success" (click)='logout()'>logout</button>
          
            </div>
          </li>
          <li>
       
          </li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf='admin'>
          <li class="active"><a routerLink="" data-nav-section="welcome">Welcome</a></li>
          <li><a routerLink="dashboard-admin" data-nav-section="specialties">Dashboard Admin</a></li>
          
          <li><a routerLink="add-admin" data-nav-section="reservation">Add Admin</a></li>
          
          <li>
            <div class="" *ngIf="connected">
              <button class="btn btn-success" (click)='logout()'>logout</button>
          
            </div>
          </li>
         
          
        </ul>
        
        <div style=" width: 30%;  margin:40px auto;" class="mt-5" *ngIf="!connected">
          <button class="btn btn-primary" routerLink= "signup" >signup</button>
          <button routerLink= "login" class="btn btn-secondary">login</button>
        </div>
        
      </div>
      
    </div>
    
  </nav>

 
  
